{% extends "layout.html" %}
{% block content %}

<h1>Image Compression</h1>

<div class="card">
    <div class="card-body">
        <h2>Compress Image</h2>
        <form action="/compress" method="post" enctype="multipart/form-data">
            <label for="input_path">Input Image:</label><br>
            <input type="file" id="input_path" name="file" onchange="previewImage(event, 'inputPreview')"><br><br>
            <div id="inputPreview"></div>
            <br>
            <label for="compression_level">Compression Level:</label><br>
            <input type="range" id="compression_level" name="compression_level" min="1" max="10" value="5" oninput="updateCompressionValue(this.value)"><br>
            <output for="compression_level" id="compression_value">5</output><br><br>
            <input type="submit" value="Compress Image">
        </form>
    </div>
</div>

{% if output_image_name %}
<div class="card" id="outputCard">
    <div class="card-body">
        <h2>Compressed Image</h2>
        <img src="{{ url_for('static', filename=output_image_name) }}" alt="Output Image"><br><br>
        <p>Original Size: {{ original_size }} bytes</p>
        <p>Compressed Size: {{ compressed_size }} bytes</p>
        <p>Compression Ratio: {{ compression_ratio }}</p>
        <p>Size Reduction: {{ size_reduction }}%</p>
    </div>
</div>
{% endif %}

<script>
    function previewImage(event, previewId) {
        var preview = document.getElementById(previewId);
        while (preview.firstChild) {
            preview.removeChild(preview.firstChild);
        }

        var file = event.target.files[0];
        var reader = new FileReader();
        reader.onload = function(event) {
            var img = document.createElement('img');
            img.src = event.target.result;
            preview.appendChild(img);
        }
        reader.readAsDataURL(file);
    }

    function updateCompressionValue(value) {
        var compressionValueOutput = document.getElementById('compression_value');
        compressionValueOutput.value = value;
    }
</script>

{% endblock %}