{% extends "layout.html" %} {% block content %}

    <h1>Image Encryption AES-CBC</h1>

    <div class="card">
        <div class="card-body">
            <h2>Decrypt Image</h2>
            <form action="/decrypt" method="post" enctype="multipart/form-data">
                <label for="input_path">Input Image:</label><br>
                <input type="file" id="input_path" name="input_path"><br><br>
                <label for="key">Decryption Key:</label><br>
                <input type="text" id="key" name="key"><br><br>
                <input type="submit" value="Decrypt Image">
            </form>
        </div>
    </div>
    
{% endblock %}