{% extends "layout.html" %} {% block content %}
    <h1>Image Steganography</h1>

    <div class="card">
        <div class="card-body">
            <h2>Embed Image</h2>
            <form action="/embed" method="post" enctype="multipart/form-data">
                <label for="cover_image">Cover Image:</label><br>
                <input type="file" id="cover_image" name="cover_image"><br>
                <div id="cover_image_preview"></div><br>
                <label for="secret_image">Secret Image:</label><br>
                <input type="file" id="secret_image" name="secret_image"><br>
                <div id="secret_image_preview"></div><br>
                <input type="submit" value="Embed Image">
            </form>
    
            <!-- Menampilkan gambar yang dihasilkan -->
            {% if output_image_name %}
                <h2>Output Image</h2>
                <img src="{{ url_for('static', filename=output_image_name) }}" alt="Output Image">
                <p>PSNR: {{ psnr }}</p>
                <p>MSE: {{ mse }}</p>
            {% endif %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Function to display image preview, size, and resolution
            function showImagePreview(input, previewElement) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function(e) {
                        var img = new Image();
                        img.src = e.target.result;

                        img.onload = function() {
                            var fileSize = input.files[0].size;
                            var resolution = this.width + "x" + this.height;
                            var preview = '<img src="' + e.target.result + '" style="max-width:300px; max-height:300px;"><br>';
                            preview += 'Size: ' + fileSize + ' bytes<br>';
                            preview += 'Resolution: ' + resolution + '<br>';
                            $(previewElement).html(preview);
                        };
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }

            // Show preview for cover image
            $('#cover_image').change(function() {
                showImagePreview(this, '#cover_image_preview');
            });

            // Show preview for secret image
            $('#secret_image').change(function() {
                showImagePreview(this, '#secret_image_preview');
            });

            $('#input_path').change(function() {
                showImagePreview(this, '#input_image_preview');
            });
        });
    </script>
{% endblock %}