{% extends "layout.html" %} {% block content %}

<main>
    <div id="content">
        <section id="Welcomes">
            <article class="card">
              <h1>Welcome!</h1>
            </article>
          </section>
      <section id="Project">
        <article class="card">
          <h2>Combined Steganography Website</h2>
          <img
            class="featured-image"
            src="assets\img\WebinarWebsite.png"
            alt="Webinar Web" />
          <p>
            Webinar merupakan akronim dari Web Seminar dan memiliki kata lain
            yaitu "Sedaring" (Seminar Daring) yang memiliki makna sebuah
            bentuk kajian ilmu pengetahuan berupa kegiatan seminar yang
            dilakukan secara daring, menggunakan situs web tertentu ataupun
            aplikasi yang terhubung dengan internet. Webiinarco merupakan
            website yang saat ini sedang dikembangkan oleh Softy Warena.
          </p>
        </article>
      </section>
      <section id="Project">
        <article class="card">
          <h2>Proposed Method</h2>
          <img
            class="featured-image"
            src="assets\img\WebinarWebsite.png"
            alt="Webinar Web" />
          <p>
            Webinar merupakan akronim dari Web Seminar dan memiliki kata lain
            yaitu "Sedaring" (Seminar Daring) yang memiliki makna sebuah
            bentuk kajian ilmu pengetahuan berupa kegiatan seminar yang
            dilakukan secara daring, menggunakan situs web tertentu ataupun
            aplikasi yang terhubung dengan internet. Webiinarco merupakan
            website yang saat ini sedang dikembangkan oleh Softy Warena.
          </p>
        </article>
      </section>
      <article id="Project" class="card">
        <h2>How to Use</h2>
        <img
          class="featured-image"
          src="assets\img\AplikasiKomputer.png"
          alt="Aplikasi Pengenalan Perangkat Komputer" />
        <p>
          Komputer merupakan sebuah perangkat yang terdiri dari komponen -
          komponen yang kompleks. Baik itu Komponen Hardware ataupun Software.
          Pada kesempatan ini, Softy Warena mengembangkan sebuah aplikasi
          media interaktif yang mengenalkan perangkat - perangkat komputer
          kepada masyarakat.
        </p>
      </article>
    </div>
    <aside>
      <article class="card">
        <header>
          <h2>Lugaya Mukti Arwasaputra</h2>
          <figure>
            <img
            src="{{ url_for('static', filename='assets/images/lugaya_formal.JPG') }}"
              class="profile-image"
              alt="Lugaya" />
            <figcaption>Foto Profil</figcaption>
          </figure>
        </header>
        <section>
          <h2>Nama</h2>
          <h5>Lugaya Mukti Arwasaputra</h5>
          <h2>Kampus</h2>
          <h5>Universitas Jenderal Achmad Yani</h5>
        </section>
      </article>
    </aside>
    <script src="Javascript.js"></script>
  </main>
{% endblock %}