<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='assets/icons/napnap_nav.png') }}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/datatables/css/jquery.dataTables.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/chartist/css/chartist.min.css') }}">
<!-- <link href="{{ url_for('static', filename='assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css') }}" rel="stylesheet"> -->
<link href="{{ url_for('static', filename='assets/cdn/buttons/2.4.1/css/buttons.bootstrap4.min.css') }}" rel="stylesheet">

<link href="{{ url_for('static', filename='assets/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/pickadate/themes/default.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/pickadate/themes/default.date.css') }}">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/duallistbox/bootstrap-duallistbox.css') }}">
